/*
body {
  background-image: url(../images/background.png);
  background-repeat: repeat;
}
*/

a:hover img {
  opacity: 0.6;
}

#player-container {
  width: 1280px;
  max-width: 95%;
}

#thats-all-folks {
  width: 100%;
}
